<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>


<% else %>
    <div class="center jumbotron">
      <h1>Welcome to Intern Home!</h1>

      <img class="img-responsive" src="https://communityinternhomeclub.s3-us-west-1.amazonaws.com/original/1X/5fb4c8d13b900d389a592f96974752a876ec0be6.png"
           height="115" width="135"  id = "logo_displayed" >

      <h2>
        Grow with your Internship!
      </h2>

      <%= link_to "Go to our Community and Sign up now!", "https://community.internhome.club", class: "btn btn-lg btn-primary" %>

    </div>

    <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
    </div>
<% end %>