<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag "https://communityinternhomeclub.s3-us-west-1.amazonaws.com/original/1X/5fb4c8d13b900d389a592f96974752a876ec0be6.png" %>
</head>
<body>

  <%= render 'layouts/header' %>
<div class="container">

  <% flash.each do |message_type, message| %>
      <% if false %>
      <div class="alert alert-<%= message_type %>"> <%= message %> </div>
      <% end %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
